// {
//   "presets": [
//     "@babel/preset-env",
//     [
//       "@babel/preset-react",
//       {
//         "runtime": "autoomatic"
//       }
//     ]
//   ]
// }

{
  "presets": ["@babel/preset-env", "@babel/preset-react"]
}
